
# IDE
.vscode/
.idea/

# files generated
*.so
*.pyc
*.eggs
*.egg-info/

# compiled libraries
archs/
bin/
lib/
/build
/dist
/builds
/packages
__pycache__/
.pytest_cache
doc/build/
doc/source/_autosummary
doc/source/gallery


# coverage
*htmlcov/
*.coverage
